<!DOCTYPE html>
<html ng-app="WebhaApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<meta http-equiv="pragma" content="no-cache">
<title>Webha</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="fragment" content="!">
<link rel="stylesheet" href="/resource/css/webha.css" type="text/css">
<script src="/resource/js/angular/angular.min.js"></script>
<script src="/resource/js/webha/webhaDirective.js"></script>
<script src="/resource/js/webha/webhaController.js"></script>
<script src="/resource/js/webha/webhaApp.js"></script>
</head>
<body ng-controller="WebhaController">

<div data-webha-header></div>
<div id="content">
	<div data-test-test="ddd" attr-test="test"></div>
</div>
<div data-webha-footer></div>

</body>
</html>